@charset "utf-8";
.clear-mp {
    margin: 0;
    padding: 0;
}
.my-dropdown{
    float: right;
    margin-right: 15px;
}
.my-panel-nav{
    padding: 25px 0 15px 0;
    border-bottom: 2px solid rgb(40, 54, 67, 0.1);
}
.my-panel-nav h2{
    float: left;
    margin: 0;
}
.my-table{
    margin-top: 20px;
}